@charset 'utf-8';
/* 모든 html 링크 연결 */

/* 모바일 가로 스크롤 금지 */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* ---- */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #fff;
}

.wrap {
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

/* navbar */
.navbar {
  width: 100%;
  height: 45px;
  position: relative;
  top: 0;
  left: 0;
  opacity: 0.9;
  border-bottom: thin solid gray;
}

.navbar>div {
  float: left;
}

.home {
  width: 25px;
  height: 25px;
  background: url(../img/home-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: 20px;
  top: 12px;
}

.name {
  width: 300px;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  position: absolute;
  top: 0px;
  left: 100px;
}

/* insta */
.instagram {
  width: 200px;
  height: 45px;
  font-size: 15px;
  line-height: 45px;
  text-align: center;
  font-family: 'Stylish', sans-serif;
  opacity: 0.7;
  position: absolute;
  top: 50px;
  right: 50px;
}

/* background & effect */
.glitch {
  --glitch-width: 100vw;
  --glitch-height: 100vh;
  --glitch-gap-horizontal: 10px;
  --glitch-gap-vertical: 5px;
  --glitch-animation-delay: 2s;
  --glitch-animation-duration: 4s;
  --glitch-blend-mode-1: none;
  --glitch-blend-mode-2: none;
  --glitch-blend-mode-3: difference;
  --glitch-blend-mode-4: exclusion;
  --glitch-blend-mode-5: screen;
  --glitch-blend-color-1: transparent;
  --glitch-blend-color-2: transparent;
  --glitch-blend-color-4: #E9EEEA;
  --glitch-blend-color-4: #680000;
  --glitch-blend-color-4: #090C00;
  --glitch-bg-image: url(https://images.unsplash.com/photo-1630890236099-b5dbd8e933ad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--glitch-width);
  height: var(--glitch-height);
  overflow: hidden;
}

.glitch__image {
  position: absolute;
  top: calc(-1 * var(--glitch-gap-vertical));
  left: calc(-1 * var(--glitch-gap-horizontal));
  width: calc(100% + var(--glitch-gap-horizontal) * 2);
  height: calc(100% + var(--glitch-gap-vertical) * 2);
  background-image: var(--glitch-bg-image);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

.glitch__image:nth-child(n+2) {
  -webkit-animation-duration: var(--glitch-animation-duration);
  animation-duration: var(--glitch-animation-duration);
  -webkit-animation-delay: var(--glitch-animation-delay);
  animation-delay: var(--glitch-animation-delay);
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
}

.glitch__image:nth-child(1) {
  background-color: var(--glitch-blend-color-1);
  background-blend-mode: var(--glitch-blend-mode-1);
  opacity: 1;
}

.glitch__image:nth-child(2) {
  background-color: var(--glitch-blend-color-2);
  background-blend-mode: var(--glitch-blend-mode-2);
  -webkit-animation-name: glitch-animation-1;
  animation-name: glitch-animation-1;
}

.glitch__image:nth-child(3) {
  background-color: var(--glitch-blend-color-3);
  background-blend-mode: var(--glitch-blend-mode-3);
  -webkit-animation-name: glitch-animation-2;
  animation-name: glitch-animation-2;
}

.glitch__image:nth-child(4) {
  background-color: var(--glitch-blend-color-4);
  background-blend-mode: var(--glitch-blend-mode-4);
  -webkit-animation-name: glitch-animation-3;
  animation-name: glitch-animation-3;
}

.glitch__image:nth-child(5) {
  background-color: var(--glitch-blend-color-5);
  background-blend-mode: var(--glitch-blend-mode-5);
  -webkit-animation-name: glitch-animation-flash;
  animation-name: glitch-animation-flash;
}

@-webkit-keyframes glitch-animation-1 {
  0% {
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    opacity: 1;
    transform: translate3d(var(--glitch-gap-horizontal), 0, 0);
  }

  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }

  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }

  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }

  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }

  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }

  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }

  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }

  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }

  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }

  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }

  21.9% {
    opacity: 1;
    transform: translate3d(var(--glitch-gap-horizontal), 0, 0);
  }

  22%,
  100% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes glitch-animation-1 {
  0% {
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    opacity: 1;
    transform: translate3d(var(--glitch-gap-horizontal), 0, 0);
  }

  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }

  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }

  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }

  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }

  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }

  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }

  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }

  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }

  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }

  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }

  21.9% {
    opacity: 1;
    transform: translate3d(var(--glitch-gap-horizontal), 0, 0);
  }

  22%,
  100% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes glitch-animation-2 {
  0% {
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    opacity: 1;
    transform: translate3d(calc(-1 * var(--glitch-gap-horizontal)), 0, 0);
  }

  3% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }

  5% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }

  7% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }

  9% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }

  11% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }

  13% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }

  15% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }

  17% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }

  19% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }

  20% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 16%, 0 16%);
    clip-path: polygon(0 14%, 100% 14%, 100% 16%, 0 16%);
  }

  21.9% {
    opacity: 1;
    transform: translate3d(var(--glitch-gap-horizontal), 0, 0);
  }

  22%,
  100% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes glitch-animation-2 {
  0% {
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    opacity: 1;
    transform: translate3d(calc(-1 * var(--glitch-gap-horizontal)), 0, 0);
  }

  3% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }

  5% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }

  7% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }

  9% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }

  11% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }

  13% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }

  15% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }

  17% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }

  19% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }

  20% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 16%, 0 16%);
    clip-path: polygon(0 14%, 100% 14%, 100% 16%, 0 16%);
  }

  21.9% {
    opacity: 1;
    transform: translate3d(var(--glitch-gap-horizontal), 0, 0);
  }

  22%,
  100% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes glitch-animation-3 {
  0% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    opacity: 1;
    transform: translate3d(0, calc(-1 * var(--glitch-gap-vertical)), 0) scale3d(-1, -1, 1);
  }

  1.5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }

  2% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }

  2.5% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }

  3% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }

  5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }

  5.5% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }

  7% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }

  8% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }

  9% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }

  10.5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }

  11% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }

  13% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }

  14% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }

  14.5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }

  15% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }

  16% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }

  18% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }

  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }

  21.9% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * var(--glitch-gap-vertical)), 0) scale3d(-1, -1, 1);
  }

  22%,
  100% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes glitch-animation-3 {
  0% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    opacity: 1;
    transform: translate3d(0, calc(-1 * var(--glitch-gap-vertical)), 0) scale3d(-1, -1, 1);
  }

  1.5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
  }

  2% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }

  2.5% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }

  3% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }

  5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }

  5.5% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }

  7% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }

  8% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }

  9% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }

  10.5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }

  11% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }

  13% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }

  14% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }

  14.5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }

  15% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }

  16% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }

  18% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }

  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }

  21.9% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * var(--glitch-gap-vertical)), 0) scale3d(-1, -1, 1);
  }

  22%,
  100% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes glitch-animation-flash {

  0%,
  5% {
    opacity: 0.2;
    transform: translate3d(var(--glitch-gap-horizontal), var(--glitch-gap-vertical), 0) scale3d(1.1, 1.1, 0);
  }

  5.5%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

@keyframes glitch-animation-flash {

  0%,
  5% {
    opacity: 0.2;
    transform: translate3d(var(--glitch-gap-horizontal), var(--glitch-gap-vertical), 0) scale3d(1.1, 1.1, 0);
  }

  5.5%,
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

/* background & effect finish ..  */

html {
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
}

body {
  position: relative;
  min-height: 100%;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #e0e0e0;
}

/* mobile */
@media all and (max-width:767px) {

  .navbar {
    height: 50px;
    border-bottom: 0px solid transparent;
  }

  .home {
    width: 20px;
    height: 20px;
    position: relative;
    left: 18px;
    top: 18px;
  }

  .name {
    width: 110px;
    height: 30px;
    font-size: 15px;
    left: 55px;
    top: 5px;
  }

  .instagram {
    width: 160px;
    height: 30px;
    font-size: 14px;
    top: 30px;
    right: 10px;
    opacity: 0.5;
  }

}