@charset 'utf-8';

.wrap {
    width: 100%;
    height: 1900px;
    background-color: #000;
}

.glitch {
    --glitch-bg-image: url(https://images.unsplash.com/photo-1630890236099-b5dbd8e933ad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
    height: 1900px;
    opacity: 0.7;
}

/* category title */
.title {
    width: 170px;
    height: 50px;
    position: relative;
    top: 100px;
    margin: 0 auto;
}

.title h1 {
    font-family: 'Moirai One', cursive;
    font-size: 50px;
}

/* project contain */
.project-contain {
    width: 1400px;
    height: 1500px;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

.project-contain>div {
    float: left;
    width: 640px;
    height: 650px;
    /* border: 1px solid #000; */
}

/* 오른쪽에 위치하는 project contain 왼쪽 마진 주기
  */
.project-contain>div:nth-child(2) {
    margin-left: 100px;
}

.project-contain>div:nth-child(4) {
    margin-left: 100px;
}

/* link contain */
.link-contain {
    width: 640px;
    height: 55px;
    /* background-color: aliceblue; */
}

/* img */
.image {
    width: 350px;
    height: 200px;
    opacity: 0.5;
    margin: 0 auto;
    position: relative;
    top: 50px;
    border-radius: 10px;
    background-color: aliceblue;
}

/* content contain */
.content-contain {
    width: 640px;
    height: 280px;
    position: relative;
    top: 110px;
    /* background-color: aliceblue; */
}

/* link */
.link-contain>div {
    float: left;
}

.url>div {
    float: left;
}

.url-title,
.github-title {
    width: 70px;
    height: 25px;
    font-size: 13px;
    font-weight: normal;
    /* background-color: #000; */
}

.url-link,
.github-link {
    width: 500px;
    height: 25px;
    font-size: 13px;
    font-weight: normal;
    margin-left: 20px;
    /* background-color: #000; */
}

.github-link {
    position: relative;
    top: -25px;
    left: 70px;
}

.github {
    margin-top: 3px;
}

/* key */
.key {
    width: 640px;
    height: 80px;
    /* background-color: #000; */
}

.key>div {
    float: left;
}

.key-title {
    width: 100px;
    height: 80px;
    font-size: 11px;
    opacity: 0.7;
}

.key-content {
    width: 540px;
    height: 80px;
    font-size: 13px;
    line-height: 20px;
    opacity: 0.7;
}

/* main */
.main {
    width: 640px;
    height: 200px;
    /* background-color: #000; */
}

.main>div {
    float: left;
}

.main-title {
    width: 100px;
    height: 100px;
    font-size: 11px;
    opacity: 0.7;
}

.main-content {
    width: 540px;
    height: 200px;
    font-size: 13px;
    opacity: 0.7;
}

/* 3번쨰 ~ 프로젝트는 동일하게 상위 마진 주기 */
.project-3,
.project-4 {
    margin-top: 100px;
}


/* mobile */
@media all and (max-width:767px) {
    .wrap {
        width: 100%;
        height: 2900px;
    }

    .navbar,
    .instagram {
        position: fixed;
        z-index: 1;
    }

    .title h1 {
        font-size: 20px;
        text-align: center;
    }

    /* project contain */
    .project-contain {
        width: 330px;
        height: 1500px;
        margin: 0 auto;
        position: relative;
        top: 200px;
        /* background-color: #000; */
    }

    .project-contain>div {
        float: left;
        width: 330px;
        height: 800px;
        /* border: 1px solid #000; */
    }

    /* 오른쪽에 위치하는 project contain 왼쪽 마진 없애고 top에 마진 주기  */
    .project-contain>div:nth-child(2) {
        margin-left: 0px;
        margin-top: 50px;
    }

    .project-contain>div:nth-child(4) {
        margin-left: 0px;
        margin-top: 50px;

    }

    /* img */
    .image {
        width: 270px;
        height: 180px;
        position: relative;
        top: -20px;
    }

    /* link */
    .url-title {
        width: 50px;
        height: 25px;
        font-size: 11px;
    }

    .url-link {
        width: 300px;
        height: 25px;
        font-size: 11px;
        position: relative;
        left: -40px;
    }

    .github {
        display: none;
    }

    /* key */
    .key {
        width: 330px;
        height: 190px;
        position: relative;
        top: -80px;
        /* background-color: #000; */
    }

    .key-title {
        width: 330px;
        height: 40px;
        /* background-color:red; */
    }

    .key-content {
        width: 330px;
        height: 150px;
        line-height: 20px;
    }

    /* main */
    .main {
        width: 330px;
        height: 300px;
        position: absolute;
        top: 120px;
        /* background-color: #000; */
    }

    .main-title {
        width: 330px;
        height: 40px;
        /* background-color:red; */
    }

    .main-content {
        width: 330px;
        height: 300px;
        line-height: 20px;
    }

}