@charset 'utf-8';

.wrap {
  width: 100%;
  height: 100vh;
}

/* background */
.bg {
  width: 100%;
  height: 100%;
  background-size: calc(100% + 50px);
  background: url(https://images.unsplash.com/photo-1597751060586-39ded010a599?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2012&q=80);
}

/* categroy title */
.title {
  width: 170px;
  height: 50px;
  position: relative;
  top: 120px;
  left: 185px;
  z-index: 1;
  margin: 0 auto;
}

.title h1 {
  font-family: 'Moirai One', cursive;
  font-size: 30px;
}

/* my name is... */
.container {
  width: 100%;
  text-align: center;
  position: relative;
  top: 90px;
  left: 170px;
  z-index: 1;
}

.container h1 {
  font-family: monospace;
  font-weight: 500;
  font-size: 20px;
  margin: 0 0 0 35%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
  animation: type 2s steps(40, end) forwards;
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }

  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid #fff;
  }

  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid #fff;
  }

  100% {
    background-position: 400px 0;
    opacity: 1;
    border-right: 1px solid #fff;
  }
}

@keyframes type {
  0% {
    width: 0;
  }

  1%,
  99% {
    border-right: 1px solid #fff;
  }

  100% {
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* education */
.education {
  width: 500px;
  height: 80px;
  position: absolute;
  left: 760px;
  top: 300px;
  z-index: 1;
}

.education h1 {
  font-size: 22px;
}

.education p {
  font-size: 13px;
  position: relative;
  top: 20px;
  line-height: 20px;
}

/* sehee image */
.photo {
  position: relative;
  left: 1000px;
  top: 70px;
  width: 700px;
  height: 460px;
}

.photo img {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: scale3d(1.0, 1.0, 1);
  backface-visibility: hidden;
  will-change: transform;
  transition: transform 1400ms ease;
  opacity: 0.8;
}

/* skiis */
.skills-contain {
  width: 200px;
  height: 600px;
  position: absolute;
  top: 200px;
  left: 300px;
}

.skills-contain h1 {
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  height: 16px;
  text-align: left;
  color: #fff;
  background: #423935;
}

.skills-contain p {
  position: relative;
  top: 0px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  line-height: 1.5;
}

.skill-1 {
  height: 150px;
}

.skill-1,
.skill-2,
.skill-3,
.skill-4>h1 {
  width: 200px;
}

.skill-2,
.skill-3,
.skill-4 {
  height: 150px;
  position: relative;
  top: 20px;
}

/* mobile */
@media all and (max-width:767px) {
  .wrap {
    width: 100%;
    height: 1250px;
  }

  .navbar,
  .instagram {
    position: fixed;
    z-index: 1;
  }

  /* category title */
  .title {
    width: 100px;
    height: 50px;
    top: 100px;
    left: 80px;
  }

  /* my name is... */
  .container {
    width: 100px;
    top: 70px;
    left: 70px;
  }

  .container h1 {
    font-size: 13px;
  }

  /* sehee image */
  .photo {
    position: relative;
    left: 0px;
    top: 70px;
    width: 330px;
    height: 220px;
    margin: 0 auto;
  }

  /* education */
  .education {
    width: 330px;
    height: 80px;
    left: 45px;
    top: 380px;
    z-index: 1;
  }

  .education h1 {
    font-size: 17px;
  }

  .education p {
    font-size: 13px;
    top: 13px;
    line-height: 17px;
  }

  /* skiis */
  .skills-contain {
    width: 200px;
    height: 600px;
    position: absolute;
    top: 550px;
    left: 41px;
  }

  .skills-contain h1 {
    font-size: 15px;
    height: 16px;
  }

  .skills-contain p {
    position: relative;
    top: 0px;
    font-size: 13px;
  }

}